<?xml version="1.0" encoding="UTF-8"?>
<!--
  Log4j2 Custom Layout - thay the Logback mac dinh
  Profile local  : coloured console
  Profile docker : JSON structured file (co traceId/spanId tu OpenTelemetry)
-->
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="SERVICE_NAME">${env:OTEL_SERVICE_NAME:-auth-service}</Property>
    <Property name="LOG_LEVEL">${env:LOG_LEVEL:-INFO}</Property>
    <Property name="LOG_DIR">${env:LOG_DIR:-logs}</Property>
    <Property name="CONSOLE_PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{cyan} %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %style{[${SERVICE_NAME}]}{magenta} %style{[traceId=%X{traceId:-none}]}{bright_black} %logger{36} - %msg%n%throwable</Property>
    <Property name="JSON_PATTERN">{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}","level":"%level","service":"${SERVICE_NAME}","traceId":"%X{traceId:-}","spanId":"%X{spanId:-}","thread":"%t","logger":"%logger","message":"%enc{%msg}{JSON}","context":%X}%n</Property>
    <Property name="AUDIT_PATTERN">{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}","service":"${SERVICE_NAME}","traceId":"%X{traceId:-}","actor":"%X{actor}","action":"%X{action}","resource":"%X{resource}","details":"%enc{%msg}{JSON}"}%n</Property>
  </Properties>

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="${CONSOLE_PATTERN}" disableAnsi="false"/>
    </Console>

    <RollingFile name="JsonFileAppender"
                 fileName="${LOG_DIR}/${SERVICE_NAME}.json"
                 filePattern="${LOG_DIR}/${SERVICE_NAME}-%d{yyyy-MM-dd}-%i.json.gz">
      <PatternLayout pattern="${JSON_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
        <SizeBasedTriggeringPolicy size="50MB"/>
      </Policies>
      <DefaultRolloverStrategy max="14"/>
    </RollingFile>

    <RollingFile name="AuditFileAppender"
                 fileName="${LOG_DIR}/audit.json"
                 filePattern="${LOG_DIR}/audit-%d{yyyy-MM-dd}-%i.json.gz">
      <PatternLayout pattern="${AUDIT_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
        <SizeBasedTriggeringPolicy size="50MB"/>
      </Policies>
      <DefaultRolloverStrategy max="30"/>
    </RollingFile>

    <Async name="AsyncAppender" bufferSize="4096">
      <AppenderRef ref="JsonFileAppender"/>
    </Async>

    <Async name="AsyncAuditAppender" bufferSize="1024">
      <AppenderRef ref="AuditFileAppender"/>
    </Async>
  </Appenders>

  <Loggers>
    <Logger name="AuditLogger" level="INFO" additivity="false">
      <AppenderRef ref="AsyncAuditAppender"/>
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>

    <Logger name="com.adminportal" level="${LOG_LEVEL}" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="AsyncAppender"/>
    </Logger>
    <Logger name="org.springframework" level="WARN" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger name="org.hibernate.SQL" level="WARN" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Logger name="org.apache.kafka" level="WARN" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="AsyncAppender"/>
    </Root>
  </Loggers>
</Configuration>
